<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragment/head_inc :: head_inc}"/>
    <title>메뉴관리</title>
</head>
<body>
<main id="main" class="main">
    <div class="pagetitle" style="display:flex;justify-content: space-between">
        <div>
            <h1>권한관리</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item">권한관리</li>
                </ol>
            </nav>
        </div>
        <div style="text-align: right;">
            <button type="button" class="btn btn-outline-primary" onclick="fnCreateAuthority();">신규등록</button>
            <button type="button" class="btn btn-outline-primary" onclick="fnSaveAuthority();">저장</button>
            <button type="button" class="btn btn-outline-secondary" onclick="fnDeleteAuthority();">삭제</button>
        </div>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">권한목록</h5>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">No</th>
                                    <th style="text-align:center;">권한명</th>
                                    <th style="text-align:center;">등록자</th>
                                    <th style="text-align:center;">등록일시</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="authority, authStat : ${authorities}" th:onclick="|fnClickAuthorityDetail('@{${authority.authorityIdx}}')|">
                                    <td style="text-align:center;" th:text="${authStat.count}">-</td>
                                    <td style="text-align:center;" th:text="${authority.authorityNm}">-</td>
                                    <td style="text-align:center;" th:text="${authority.regUserId}">-</td>
                                    <td style="text-align:center;" th:text="${#temporals.format(authority.regDt, 'yyyy-MM-dd HH:mm:ss')}">-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">권한상세</h5>
                        <input type="hidden" id="authorityIdx" name="authorityIdx">
                        <div class="row mb-3">
                            <label for="authorityNm" class="col-sm-4 col-form-label">권한명</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="authorityNm" name="authorityNm">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="regUserId" class="col-sm-4 col-form-label">등록자</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="regUserId" name="regUserId" placeholder="자동등록" disabled>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="regDt" class="col-sm-4 col-form-label">등록일시</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="regDt" name="regDt" placeholder="자동등록" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
</main>

<script type="text/javascript" th:inline="javascript">

    function fnClickAuthorityDetail(authorityIdx) {
        $.ajax({
            url : '/auth/getAuthInfo',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                authorityIdx: authorityIdx
            }),
            success: function(rtn) {
                $('#authorityIdx').val(rtn.authorityInfo.authorityIdx);
                $('#authorityNm').val(rtn.authorityInfo.authorityNm);
                $('#regUserId').val(rtn.authorityInfo.regUserId);
                $('#regDt').val(rtn.authorityInfo.regDt);
            }
        });
    }

    function fnCreateAuthority() {
        $('#authorityIdx').val('');
        $('#authorityNm').val('');
        $('#regUserId').val('');
        $('#regDt').val('');
    }

    function fnSaveAuthority() {
        if (confirm('저장하시겠습니까?')) {

        }
    }

    function fnDeleteAuthority() {

    }

</script>

</body>
</html>