<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragment/head_inc :: head_inc}"/>
    <title>메뉴관리</title>
</head>
<body>
<main id="main" class="main">
    <div class="pagetitle" style="display:flex;justify-content: space-between">
        <div>
            <h1>메뉴관리</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item">메뉴관리</li>
                    <!--<li class="breadcrumb-item active">Frequently Asked Questions</li>-->
                </ol>
            </nav>
        </div>
        <div style="text-align: right;">
            <button type="button" class="btn btn-outline-primary" onclick="fnCreateMenu();">신규등록</button>
            <button type="button" class="btn btn-outline-primary" onclick="fnSaveMenu();">저장</button>
            <button type="button" class="btn btn-outline-secondary" onclick="fnDeleteMenu();">삭제</button>
        </div>
    </div><!-- End Page Title -->

    <section class="section faq">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">메뉴목록 <span>(드래그 앤 드롭으로 메뉴 순서변경 가능, 좌측 메뉴는 새로고침 후 적용됩니다.)</span></h5>
                        <ul class="accordion accordion-flush" id="faq-group-1">
                            <li th:each="menu, menuStat : ${menus}" class="accordion-item" th:id="'menuIdxOrder_'+${menu.menuIdx}">
                                <div th:if="${#lists.size(menu.childMenu) > 0}" th:attr="data-order=${menu.menuOrder}">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" th:onclick="|fnClickMenuDetail('@{${menu.menuIdx}}')|" th:attr="data-bs-target='#menuIdx' + ${menu.menuIdx}" type="button" data-bs-toggle="collapse">
                                            <span th:text="${menu.menuNm}">null</span>
                                        </button>
                                    </h2>
                                    <ul th:id="'menuIdx' + ${menu.menuIdx}" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                                        <li th:each="child : ${menu.childMenu}" class="accordion-body" th:id="'menuIdxOrder_'+${child.menuIdx}">
                                            <a th:onclick="|fnClickMenuDetail('@{${child.menuIdx}}')|" href="#">
                                                <!--<i class="bi bi-arrow-return-right" style="margin-left:30px;"></i>-->
                                                <span th:text="${child.menuNm}">null</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div th:unless="${#lists.size(menu.childMenu) > 0}" th:attr="data-order=${menu.menuOrder}">
                                    <h2 class="accordion-header">
                                        <a th:onclick="|fnClickMenuDetail('@{${menu.menuIdx}}')|" class="accordion-button collapsed" th:attr="data-bs-target='#menuIdx' + ${menu.menuIdx}" type="button" data-bs-toggle="collapse">
                                            <span th:text="${menu.menuNm}">null</span>
                                        </a>
                                    </h2>
                                    <div th:id="'menuIdx' + ${menu.menuIdx}" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- End F.A.Q Group 1 -->
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">메뉴상세</h5>
                        <input type="hidden" id="menuIdx" name="menuIdx">
                        <input type="hidden" id="bfParentMenuIdx" name="bfParentMenuIdx">
                        <div class="row mb-3">
                            <label for="menuNm" class="col-sm-4 col-form-label">메뉴명</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="menuNm" name="menuNm">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="menuLink" class="col-sm-4 col-form-label">메뉴링크(Request URL)</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="menuLink" name="menuLink">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="menuOrder" class="col-sm-4 col-form-label">메뉴순서</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="menuOrder" name="menuOrder" placeholder="자동등록" disabled>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="parentMenuIdx" class="col-sm-4 col-form-label">상위메뉴</label>
                            <div class="col-sm-8">
                                <select class="form-select" aria-label="Default select example" id="parentMenuIdx" name="parentMenuIdx">
                                    <option value="" selected>선택안함</option>
                                    <option th:each="menu : ${menus}" th:value="${menu.menuIdx}" th:text="${menu.menuNm}">null</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="viewAuthority" class="col-sm-4 col-form-label">조회권한</label>
                            <div class="col-sm-8">
                                <select class="form-select" aria-label="Default select example" id="viewAuthority" name="viewAuthority">
                                    <option value="" selected>선택</option>
                                    <option th:each="authority : ${authorities}" th:value="${authority.authorityCd}" th:text="${authority.authorityNm}">null</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="saveAuthority" class="col-sm-4 col-form-label">등록/수정/삭제 권한</label>
                            <div class="col-sm-8">
                                <select class="form-select" aria-label="Default select example" id="saveAuthority" name="saveAuthority">
                                    <option value="" selected>선택</option>
                                    <option th:each="authority : ${authorities}" th:value="${authority.authorityCd}" th:text="${authority.authorityNm}">null</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="regDt" class="col-sm-4 col-form-label">등록일시</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="regDt" name="regDt" placeholder="자동등록" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>

<script type="text/javascript">

    $(function() {
        $('.accordion').sortable({
            update: function() {
                fnSetMenuOrder(this);
            }
        });
        $('.accordion-collapse').sortable({
            update: function() {
                fnSetMenuOrder(this);
            }
        });
    });

    function fnSetMenuOrder(obj) {
        let ids = $(obj).sortable('serialize');
        console.log(ids);
        $.ajax({
            url: '/menu/setMenuOrder',
            method: 'POST',
            data: ids,
            success: function(rtn) {
                console.log(rtn);
            }
        });
    }

    function fnClickMenuDetail(menuIdx) {
        $.ajax({
            url : '/menu/' + menuIdx,
            method: 'GET',
            contentType: 'application/json',
            success: function(rtn) {
                $('#menuIdx').val(rtn.menuInfo.menuIdx);
                $('#bfParentMenuIdx').val(rtn.menuInfo.parentMenuIdx);
                $('#menuNm').val(rtn.menuInfo.menuNm);
                $('#menuLink').val(rtn.menuInfo.menuLink);
                if (rtn.menuInfo.parentMenuIdx === null) {
                    $('#parentMenuIdx').attr("disabled", true).val('').prop("selected", true);
                } else {
                    $('#parentMenuIdx').attr("disabled", false).val(rtn.menuInfo.parentMenuIdx).prop("selected", true);
                }
                $('#menuOrder').val(rtn.menuInfo.menuOrder);
                $('#viewAuthority').val(rtn.menuInfo.viewAuthority).prop("selected", true);
                $('#saveAuthority').val(rtn.menuInfo.saveAuthority).prop("selected", true);
                $('#regDt').val(rtn.menuInfo.regDt);
            }
        });
    }

    function fnCreateMenu() {
        $('#menuIdx').val('');
        $('#menuNm').val('');
        $('#menuLink').val('');
        $('#menuOrder').val('');
        $('#bfParentMenuIdx').val('');
        $('#parentMenuIdx').attr("disabled", false).val('').prop("selected", true);
        $('#viewAuthority').val('').prop("selected", true);
        $('#saveAuthority').val('').prop("selected", true);
        $('#regDt').val('');
    }

    function fnSaveMenu() {
        if (confirm("저장하시겠습니까?")) {
            let action = '';
            let parentMenuChgYn = 'N';
            const menuIdx = $('#menuIdx').val();

            if (menuIdx === null || menuIdx === '') {
                action = '/menu';
            } else {
                action = '/menu/' + menuIdx;
                if ($('#bfParentMenuIdx').val() !== $('#parentMenuIdx').val()) {
                    parentMenuChgYn = 'Y';
                }
            }
            $.ajax({
                url : action,
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    menuNm: $('#menuNm').val(),
                    menuLink: $('#menuLink').val(),
                    parentMenuIdx: $('#parentMenuIdx').val(),
                    parentMenuChgYn: parentMenuChgYn,
                    viewAuthority: $('#viewAuthority').val(),
                    saveAuthority: $('#saveAuthority').val()
                }),
                success: function(rtn) {
                    alert(rtn.message);
                    location.href = '/menu'
                }
            })
        }
    }

    function fnDeleteMenu() {

        const menuIdx = $('#menuIdx').val()
        if (menuIdx === null || menuIdx === '') {
            alert('선택된 메뉴가 없습니다.');
            return;
        }

        if (confirm('"' + $('#menuNm').val() + '" 메뉴를 삭제하시겠습니까?')) {
            $.ajax({
                url: '/menu/' + menuIdx,
                method: 'DELETE',
                contentType: 'application/json',
                data: JSON.stringify({
                    menuIdx: menuIdx
                }),
                success: function(rtn) {
                    alert(rtn.message);
                    location.href = '/menu'
                }
            })
        }
    }

</script>
</body>
</html>