<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="~{fragment/head_inc}"></div>
    <title>AUTHORITY</title>
</head>

<body>

<!-- ======= Top ======= -->
<div th:replace="~{fragment/top_inc}"></div>
<!-- ======= Top ======= -->

<!-- ======= Side ======= -->
<div th:replace="~{fragment/side_inc}"></div>
<!-- ======= Side ======= -->

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <selction></selction>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:replace="~{fragment/footer_inc}"></div>
<!-- ======= Footer ======= -->
</body>
</html>