<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragment/head_inc :: head_inc}"/>
    <title>AUTHORITY</title>
</head>

<body>


<!-- ======= Top ======= -->
<th:block th:replace="~{fragment/top_inc :: top_inc}"/>
<!-- ======= Top ======= -->


<!-- ======= Side ======= -->
<th:block th:replace="~{fragment/side_inc :: side_inc}"/>
<!-- ======= Side ======= -->


<!-- ======= Main ======= -->
<iframe src="" style="width: 100%;  border:0; min-height: 500px; height: calc(100vh - 50px);" id="main_contents" name="main_contents"></iframe>
<!-- ======= Main ======= -->


<!-- ======= Footer ======= -->
<th:block th:replace="~{fragment/footer_inc :: footer_inc}"/>
<!-- ======= Footer ======= -->


<script type="text/javascript">
    function fnClickMenu(url) {
        console.log(url);
        $('#main_contents').attr('src', url);
    }
</script>

</body>
</html>